.card {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 1s, box-shadow 1s;
    cursor: pointer;
  }

  .card:hover {
    transform: translateY(2px);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
  }

  .navbar {
    background-color: white;
    transition: background-color 0.3s;
  }

  .navbar:hover {
    transition: background-color 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }